#include "version.h"

1 VERSIONINFO
    FILEVERSION CLINK_VERSION_MAJOR, CLINK_VERSION_MINOR, CLINK_VERSION_PATCH
    PRODUCTVERSION CLINK_VERSION_MAJOR, CLINK_VERSION_MINOR, CLINK_VERSION_PATCH
{
    BLOCK "StringFileInfo" {
        BLOCK "040904b0" {
            VALUE "CompanyName",     "Martin Ridgers, Christopher Antos"
            VALUE "ProductName",     "Clink"
            VALUE "FileDescription", "Clink"
            VALUE "InternalName",    "Clink"
            VALUE "ProductVersion",  CLINK_VERSION_STR
            VALUE "FileVersion",     CLINK_VERSION_STR
            VALUE "LegalCopyright",  CLINK_COPYRIGHT_STR
        }
    }
    BLOCK "VarFileInfo" {
        VALUE "Translation", 0x0409, 1200
    }
}
