#include "version.h"

1 VERSIONINFO
    FILEVERSION CLINK_VERSION_MAJOR, CLINK_VERSION_MINOR, CLINK_VERSION_PATCH
    PRODUCTVERSION CLINK_VERSION_MAJOR, CLINK_VERSION_MINOR, CLINK_VERSION_PATCH
BEGIN
END
