101  ICON  DISCARDABLE  "red.ico"
102  ICON  DISCARDABLE  "orange.ico"
103  ICON  DISCARDABLE  "gold.ico"
104  ICON  DISCARDABLE  "green.ico"
105  ICON  DISCARDABLE  "cyan.ico"
106  ICON  DISCARDABLE  "blue.ico"
107  ICON  DISCARDABLE  "purple.ico"
108  ICON  DISCARDABLE  "gray.ico"
