---
---

@import "{{ site.theme }}";

.btnex {
    display: inline-block;
    margin: 0rem 0.5rem 1rem;
    padding: 0.5rem 1rem;
    color: rgba(255,255,255,0.7);
    background-color: rgba(255,255,255,0.08);
    border-color: rgba(255,255,255,0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

.title-header {
    padding: 0rem 0rem;
}

.title-container {
    position: relative;
    text-align: left;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;

    @include large {
        max-width: 80rem;
        padding-left: 6rem;
        padding-right: 6rem;
        margin: 0 auto;
    }

    @include medium {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    @include small {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    min-width: 24rem;
}

.title-left-container {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    flex-direction: column;

    @include large {
        padding: 2rem 0rem;
    }

    @include medium {
        padding: 1.5rem 0rem;
    }

    @include small {
        padding: 1rem 0rem;
    }
}

.title-right-container {
    display: flex;
    flex-direction: column;
    text-align: right;

    @include large {
        padding: 2rem 0rem;
    }

    @include medium {
        padding: 1.5rem 0rem;
    }

    @include small {
        padding: 1rem 0rem;
    }

    margin-left: 2rem;
}

.title-sidebar-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}

.main-content {
    @include large {
        max-width: 64rem;
        padding: 2rem 6rem;
        margin: 0 auto;
        font-size: 1.1rem;
    }

    @include medium {
        padding: 2rem 4rem;
        font-size: 1.1rem;
    }

    @include small {
        padding: 2rem 1rem;
        font-size: 1rem;
    }
}

kbd {
    padding:0.1em 0.3em;
    border-collapse:separate;
    border:1px solid #ccc;
    font:70% SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    background-color:#f8f8f8;
    color:#333;
    -moz-box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 0px #ffffff inset;
    -webkit-box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 0px #ffffff inset;
    box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 0px #ffffff inset;
    -moz-border-radius:0.45em;
    -webkit-border-radius:0.45em;
    border-radius:0.45em;
    display:inline-block;
    margin:0 0.1em;
    vertical-align:middle;
    white-space:nowrap;
}

.promo_box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem 2rem;
    width: 100%;
}
.promo_block {
    flex:1 1 480px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 0.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.promo_block p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.promo_block :first-child {
    margin-top: 1rem;
}

.color_default { color: #c0c0c0 }

.color_arg { color: #ffffff }
.color_arginfo { color: #d78700 }
.color_argmatcher { color: #00d700 }
.color_cmd { color: #ffffff }
.color_cmdredir { color: #d78700 }
.color_cmdsep { color: #af5fff }
.color_description { color: #00afff }
.color_doskey { color: #5fafff }
.color_executable { color: #0087ff }
.color_flag { color: #87d7ff }
.color_input { color: #ffaf00 }
.color_suggestion { color: #808080 }
.color_unexpected { color: #c0c0c0 }
.color_unrecognized { color: #ff5f5f }

.cursor {
    animation: blinker 1s steps(1, end) infinite;
    color: #ffffff;
}
@keyframes blinker {
    0% { opacity: 1; }
    50% { opacity: 0; }
}

code {
    vertical-align: text-top;
    display: inline-block;
    font-family: "Fira Mono",monospace;
    font-size: 0.9rem;
    padding: 0px 0.2rem;
    margin: auto 0px;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 0.2rem;
}

pre {
    margin: 0.15rem 0.5rem;
    padding: 0;
}

pre code {
    border: none;
    padding: 8px;
    border-radius: inherit;
}

