@import url('https://fonts.googleapis.com/css2?family=Rambla:wght@400;700&family=Roboto&family=Fira+Mono&display=swap');
html {
    font: 12pt Roboto,Calibri,Arial,Helvetica,sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    padding-top: 3rem;
    width: 90%;
    margin: 0 auto;
}

.wlink {
    opacity: 0%;
    width: 100px;
    position: absolute;
    left: -24px;
}

.wfix {
    visibility: hidden;
    width: 0;
}

.wlink:hover {
    opacity: 100%;
}

/*
.wlink a {
    color: inherit;
}

.wlink a:link {
    color: inherit;
}

.wlink a:visited {
    color: inherit;
}

.wlink a:hover {
    color: inherit;
}

.wlink a:active {
    color: inherit;
}
*/

h1, h2, h3, h4, h5, h6, dt { font-family: Rambla,Roboto,Calibri,Arial,Helvetica,sans-serif }

h1 {
    width: 100%;
    padding: 2rem 0 0 0;
    border-bottom: 0.15rem #3377cc solid;
    font-size: 2.30rem;
}

h2 {
    border-bottom: 0.075rem #3377cc dashed;
    font-size: 1.95rem;
}

h3 { font-size: 1.60rem; }
h4 { font-size: 1.35rem; }
h5 { font-size: 1.10rem; }
h6 { font-size: 1.00rem; }

h1, h2, h3, h4, h5, h6 {
    position: relative;
}

h1:hover .wlink { opacity: 100% }
h2:hover .wlink { opacity: 100% }
h3:hover .wlink { opacity: 100% }
h4:hover .wlink { opacity: 100% }
h5:hover .wlink { opacity: 100% }
h6:hover .wlink { opacity: 100% }

dt {
    font-family: Rambla,Roboto,Calibri,Arial,Helvetica,sans-serif;
    font-weight: 700;
    padding: 0 0 0.4rem 0;
}

.toppadding {
    padding: 0.6rem 0 0 0;
}

blockquote {
    display: block;
    padding: 0.1rem 1rem 0.1rem 1rem;
    margin: 0 0 1rem 0.4rem;
    box-shadow: 0.1rem 0.1rem 0.4rem #ccc;
    border-left-width: 0.4rem;
    border-left-style: solid;
    border-color: #3377cc;
}

fieldset {
    display: block;
    padding: 0.5rem 0.5rem 1rem 1rem;
    margin: 0 0 1rem;
    box-shadow: 0.1rem 0.1rem 0.4rem #ccc;
    border-radius: 0.4rem;
    border-style: solid;
    border-width: 0.15rem;
    border-color: #990000;
    background: #ffffee;
}

legend {
    font-weight: 600;
    padding: 0 0.3rem;
}

code {
    vertical-align: text-top;
    display: inline-block;
    font-family: "Fira Mono",monospace;
    font-size: 0.9rem;
    padding: 0px 0.2rem;
    margin: auto 0px;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 0.2rem;
}

pre {
    margin: 0.15rem 0.5rem;
    padding: 0;
}

pre code {
    border: none;
    padding: 8px;
    border-radius: inherit;
}

kbd {
    padding:1px 0.3rem;
    border-collapse:separate;
    border:0.05rem solid #ccc;
    font:0.8rem SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    background-color:#f8f8f8;
    color:#333;
    -moz-box-shadow:0 0.05rem 0px rgba(0, 0, 0, 0.2),0 0 0 0px #ffffff inset;
    -webkit-box-shadow:0 0.05rem 0px rgba(0, 0, 0, 0.2),0 0 0 0px #ffffff inset;
    box-shadow:0 0.05rem 0px rgba(0, 0, 0, 0.2),0 0 0 0px #ffffff inset;
    -moz-border-radius:0.3rem;
    -webkit-border-radius:0.3rem;
    border-radius:0.3rem;
    display:inline-block;
    margin:0 0.1rem;
    vertical-align:middle;
    transform:translateY(-5%);
    white-space:nowrap;
}

#content table:not(.linkmenu) td:nth-child(1) {
    white-space: nowrap;
}

#content table:not(.linkmenu) td:nth-child(1) code {
    border: none;
    padding: 0 0 0 0;
    border-radius: 0;
    background-color: transparent;
}

.linkmenu {
    border: none;
    background-color: transparent;
    margin-left: 2rem;
}

.console {
    border: none;
    background-color: transparent;
    margin-left: 0;
    width: 100%;
}

.section {
}

.deprecated {
    opacity: 0.5;
}

.comment-web-link {
    font-style: italic;
}

.colorsample {
    display:inline-block;
    border:1px solid lightgray;
    width:0.8rem;
    height:0.8rem;
    vertical-align:middle;
}

#header {
    float: right;
    text-align: right;
}

#header #title {
    font: 2.5rem Rambla,Roboto,Calibri,Arial,Helvetica,sans-serif;
    font-weight: bold;
    margin-bottom: 0.4rem;
}

#content {
    clear: both;
}

#content table:not(.linkmenu,.console) {
    font-size: 1rem;
    margin: auto 5%;
    border-collapse: collapse;
}

#content pre, #api .show {
    border: 1px solid #ddd;
    border-radius: 0.4rem;
    background-color: #eee;
}

#content table:not(.linkmenu) td, #content th {
    vertical-align: text-top;
    padding: 0.2rem 0.5rem;
}

#content th {
    background-color: #fff;
}

#content table:not(.linkmenu,.console) td {
    border: 1px solid #ddd;
}

#content table:not(.linkmenu,.console) tr:nth-child(odd) {
    background-color: #fbfbfb;
}

#content table:not(.linkmenu,.console) tr:nth-child(even) {
    background-color: #fff;
}

#content table.linkmenu td {
    padding-right: 1rem;
}

#content hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.3), rgba(0,0,0,0.3), rgba(0,0,0,0.3), rgba(0,0,0,0));
    width: 80%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

#content .arg {
    white-space: nowrap;
    font-family: "Fira Mono",monospace;
    font-style: italic;
    font-size: 95%;
    opacity: 75%;
    padding-left: 0.125rem;
    padding-right: 0.125rem;
}

#content .arg_name {
    font-weight: bold;
}

#content .tablescheme {
    white-space: nowrap;
    font-family: "Fira Mono",monospace;
    font-style: italic;
    font-size: 95%;
    opacity: 75%;
    padding-left: 0.125rem;
    padding-right: 0.125rem;
}

#content ol li {
    padding-left: 0.5rem;
}

#content #api .group {
    margin-bottom: 1rem;
}

#content #api .body {
    margin-left: 1rem;
    margin-top: -0.5rem;
}

#content #api .header .name {
    font-weight: bold;
    float: left;
    width: 40%;
    position: relative;
    margin-left: -24px;
}

#content #api .header .name:hover .wlink {
    opacity: 100%;
}

#content #api .header .signature {
    text-align: right;
}

#content #api .group_name {
    font-size: 1.1rem;
    font-weight: bold;
}

#content #api .function {
    margin-left: 2rem;
    margin-bottom: 1.0rem;
}

#content #api .version {
    font-size: 80%;
    color: #888;
    margin-top: 0.25rem;
}

#content #api .toc {
    margin-left: 2rem;
}

#content #api .show {
    white-space: pre;
    font-family: "Fira Mono",monospace;
}

.h2 {
    font-size: 80%;
    margin-left: 1rem;
}

[class^="hljs"] {
    font-family: "Fira Mono",monospace;
}
