name: Submit Clink release to winget-pkgs
# based off of https://github.com/microsoft/PowerToys/blob/main/.github/workflows/package-submissions.yml
# ... based off of https://github.com/nushell/nushell/blob/main/.github/workflows/winget-submission.yml

on:
  workflow_dispatch:
  release:
    types: [published]

jobs:

  winget:
    name: Publish winget package
    runs-on: windows-latest
    steps:
      - name: Submit package to winget-pkgs
        run: |
          
          $wingetPackage = "chrisant996.Clink"
          $gitToken = "${{ secrets.WINGET_PAT }}"
          
          $targetRelease = Invoke-RestMethod -uri "https://api.github.com/repos/chrisant996/clink/releases/latest"
          
          $installerUrl = $targetRelease | Select -ExpandProperty assets -First 1 | Where-Object -Property name -match 'clink.*.exe' | Select -ExpandProperty browser_download_url
          $hash = ([regex]::Match($installerUrl, '\.([0-9a-fA-F]+)_setup\.exe$')).Groups[1].Value
          
          $ver = $targetRelease.tag_name.Trim("v")
          $dispver = "clink v$ver.$hash"
          
          # diagnostics
          Write-Host "installerUrl = $installerUrl"
          Write-Host "ver = $ver"
          Write-Host "hash = $hash"
          Write-Host "dispver = $dispver"
          
          # getting latest wingetcreate file
          iwr https://aka.ms/wingetcreate/latest -OutFile wingetcreate.exe
          .\wingetcreate.exe update $wingetPackage -s -v $ver --display-version $dispver -u "$installerUrl|x86" "$installerUrl|x64" -t $gitToken
